
<form action="" onsubmit="return createProd(this)" style="margin:20px;">
    <div class="ex">
                <h2>Lista Productos</h2>
        <table id="table">
        </table>
        <div class="row" style="padding: 1em;">
            <!-- Here goes the data sent from server -->
            <div id="productCatalog"></div>
        </div>
    </div>
</form>